.hover_class {
    padding: 8px;
}

.hover_class a {
    visibility:hidden;
    position: absolute;
}

.hover_class:hover a {
    visibility:visible;
}
.icon-delete {
    margin-left: 6px;
    color:#ee6e73 !important;
}

.event-create {
    border: 3px solid #26a69a;
}
nav {
    background-color: #9c2723;
}
nav a:hover {
    text-decoration: none;
    color: white;
}
.error {
    background-color: #ee6e73;
}
.success {
    background-color: #26a69a;
}
.slider {
    margin-top: -20px;
}
.shadow {
    padding: 15px;
    margin-top: 120px;
}

.post-create {
    border: 3px solid #26a69a;
}

.post-button {
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo {
    margin-right: 20px;
    margin-bottom: 5px;
}
.circle {
    height: 60px !important;
    width: 60px !important;
    margin-right: 12px !important;
}
.contact {
    margin-left: 18px !important;
}